.transa {
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  width: 500px;
  border: 2px solid #ccc3c3;
  border-radius: 9px;
  margin: 30px auto;
  text-align: center;
}
.item {
  border: 1px solid grey;
  background: beige;
  border-radius: 5px;
  color: darkolivegreen;
}
.list {
  background-color: floralwhite;
  border-radius: 5px;
  color: chocolate;
}
.list_item {
  border: 2px solid #ccc3c3;
}
